.previewBody{
    display: flex;
    align-content: space-between;
    justify-content: space-around;
}
.EmptyDataContainer {
    text-align: center;
    margin-top: 20vh;
}

.EmptyDataTitleSpan {
    color: var(--neural-3);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

/* end Empty Configuration Page ****/