.chatDropDown {
    display: flex;
    flex-direction: column;

}

.chatDropDown h3 {
    flex-grow: 1;
    margin: 0;
    color: #5B5B5B;
    font-family: Inter;
    font-size: 16px;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}




.chatDropDown li {
    cursor: pointer;
    display: block;
    color: #858585;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    padding-left: 36px;
    padding-right: 6px;
    padding-top: 9px;
    border-radius: 4px;
    padding-bottom: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 9px;
}



.chatDropDown li:hover{
    border-radius: 4px;
    background: #F0F0F0;
}

.chatDropDown li:focus{
    background: #D8D8D8;
}

.chatDropDown li div {
    margin: 0;
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatDropDown ul {
    padding: 0;
    margin-top: 0;
    margin-left: 10px;
    width: 300px;
}

.listOptions{
    width: 100%;
}

.chatDropDown li::before {
    content: "";
    position: absolute;
    left: 6px;
    top: 56%;
    width: 20px;
    height: 20px;
    /* Adjust based on the size of the image */
    background-image: url(../assets/message-history.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
    /* Centers the image vertically */
}

.chatHistoryHeadWithArrow {
    cursor: pointer;
    display: flex;
    gap: 8px;
}

.chatHistoryHeadWithArrow img {
    padding-top: 2px;
}

.ActiveDropDown {
    height: auto;
    display: block;
    animation: slideUp 0.5s ease-in-out forwards;
    overflow: hidden;
}


.InActiveDropDown {
    overflow: hidden;
    animation: slideDown 0.5s ease-in-out forwards;
    /* Adjust duration and easing as needed */
}

.seeMoreDropDown{
    display: flex;
min-width: 295px;
padding: var(--12, 12px) 6px;
align-items: center;
gap: 10px;
border-radius: var(--4, 4px);
border: 1px solid var(--white-100, #FFF);
background: #ffffff;
color: #858585;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
width: 295px;
height: 30px;
line-height: 150%;
cursor: pointer;
margin-bottom: 18px; /* 18px */
}

.seeMoreDropDown:hover{
    background: #F0F0F0;
}

@keyframes slideDown {
    0% {
        min-height:fit-content;
        opacity: 1;
    }

    100% {
        max-height: 0;
        opacity: 0;
    }
}

@keyframes slideUp {
    0% {
        min-height: 0;
        opacity: 0;
    }
    100% {
        min-height:fit-content; 
        opacity: 1;
    }
}
