.CodeBlockContainer{
    width: 91%;
}

.LightButton{
    border-radius: var(--4, 4px);
    background: #ECF5FF;
    color: #3893FF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.LightButton span:nth-child(2) {
    margin-top: 5px;
}