
.InputLabel {
    color: #323232;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 5px;
    margin-left: 4.23px;
    display: block;
}

.Input {
    border-radius: 6px;
    border: 0.5px solid #F0F0F0;
    background: var(--white-100, #FFF);
    padding: 10px 16px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing:  border-box;

     background-image: url("./assets/search.svg");
     background-repeat: no-repeat;
     background-position: 10px 9px;
     padding-left: 32px;
}


.Input:hover {
    border: 1px solid #DBEBFF;
}

.Input:focus {
    outline: none;
    border: 1px solid #3893FF;
}